<% provide(:title, 'Acerca de')%>


		<h1>Acerca de</h1>

		<p>
			La amplicacion Sample App ha desarrolada por el curso Ruby on Rails de la <a href="http://www.ute.edu.ec"> Universidad Tecnologica Equinoccial</a>
			2014


		</p>

