<% provide(:title, 'Pagina de Inicio')%>


		<h1>Sample App</h1>

		<p>
			Esta es la aplicacion Sample App desarrolada por el curso Ruby on Rails de la <a href="http://www.ute.edu.ec"> Universidad Tecnologica Equinoccial</a>

		</p>

